Binaries
DerivedDataCache
Intermediate
Saved
!Ampelos-Docs
!Ampelos-Docs/xRef
AmpelosBuilds
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
!Ampelos-Docs/xRef/Spring+Forest+Pack+1.zip
!Ampelos-Docs/xRef/Spring+Forest+Pack+1.zip
